<!DOCTYPE html>
<html>
<head>
<style>
body {
  margin: 0;
}

ul {
	font-size:2em;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 25%;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

li a.active {
  background-color: #4CAF50;
  color: white;
}

li a:hover:not(.active) {
  background-color: #555;
  color: white;
}
</style>
</head>
<body>
<ul>
<li><a href="/account/logout">Logout</a>
    <a href="/food">Restaurants Recommendation</a>
    <a href="/museum">Museums Recommendation</a>
    <a href="/sight">Sights Recommendation</a>
</li>
</ul>
<div style="margin-left:25%;padding:1px 16px;height:1000px;">
  <h2>Reccomentation System</h2>
  <h3>Steps in order for you to get the best outcome.</h3>
  <p>1.Register/Login</p>
  <p>2.Choose what you want reccommendations about (Restaurants,Museums,Sights).</p>
  <p>3.Complete the form.</p>
  <p>4.Give us your priority of your choices.</p>
  <p>5.Done</p>
</div>
</body>
</html>